nav.navbar.navbar-expand-lg.bg-light
  .container-fluid
    a.navbar-brand(href='/') Navbar
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          if(home)
            a.nav-link.active(aria-current='page' href='/' style="color: red") Home
          else  
            a.nav-link.active(aria-current='page' href='/' style="color: black") Home
        li.nav-item
          if(activeSignUp)
            a.nav-link.active(aria-current='page' href='/signup' style="color: red") Sign Up
          else 
            a.nav-link.active(aria-current='page' href='/signup' style="color: black") Sign Up
        li.nav-item
          if(activeSignIn)
            a.nav-link.active(aria-current='page' href='/signin' style="color: red") Sign In
          else 
            a.nav-link.active(aria-current='page' href='/signin' style="color: black") Sign In
      form.d-flex(role='search')
        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
        button.btn.btn-outline-success(type='submit') Search
      button.btn.btn-outline-danger.mx-2 
        a.nav-link(href="/logOut") Log Out 
